<!-- THIS INLINE DIRECTIVE CONSIST OF  3 MAIN ELEMENTS: ICONS VALUE AND INPUT-->
<!-- only show if value, when clicked toggle Input mode, show edit icons when hovering -->
<span ng-if="value === '' || value" ng-click="toggleInput(true)"  ng-mouseLeave="togglePencil()" ng-mouseEnter="togglePencil()">
	<!-- ICONS -->
	<!--if  pencilIcon is false/true hide/show icon -->
	<!-- <span>{{isClient}}</span> -->
	<i ng-show="(!pencilIcon && icon)" class="material-icons info-icons ">{{icon}}</i>
	<i ng-show="(pencilIcon &&  icon)" class="material-icons info-edit">edit</i>
	<!-- VALUE -->
	<!-- Example  Phone number, Website, Email -->
	<span class="my-input" ng-show="!inputShow" >{{value}}</span>
	<!-- INPUT -->
	<!-- Only show when client profile.  -->
	<form ng-show="inputShow"  ng-if="isClient" name="inlineForm" 
		  ng-mouseleave="toggleInput(false)"  novalidate class="contact-info inline">
		<input name="{{key}}" class="inline"
			   type="text" ng-model="od.client[key]"
			   ng-mouseleave="dirtyElem(inlineForm[key].$dirty)">
	</form>
</span>