<div class="profile-wrapper">
	<md-content class="md-padding card-wrapper" layout-wrap layout-align="center start">

		<md-card layout="column" class="my-card">
			<md-content layout="row">
				<img flex="25" ng-src="{{index.gamService.me.avatar}}" class="md-card-image" >
				<md-card-title flex layout="row" layout-align="center start">
					<md-card-title-text>
						<span>{{index.gamService.me.displayName}}</span>
					</md-card-title-text>
				</md-card-title>
			</md-content>

			<md-card-content>
				<p>Email: {{index.gamService.me.email}}</p>
				<p>Username: {{index.gamService.me.username}}</p>
				<p>Location: {{index.gamService.me.location}}</p>
				<p>Blog: {{index.gamService.me.blog}}</p>
				<p>Hireable: {{index.gamService.me.hireable}}</p>
				<p>Company: {{index.gamService.me.company}}</p>
				<p>Github Link: {{index.gamService.me.profileUrl}}</p>
			</md-card-content>

			<md-card-actions layout="row" layout-align="end center">
				<md-button>Action 1</md-button>
				<md-button>Action 2</md-button>
			</md-card-actions>
		</md-card>

	</md-content >
</div>