<div class="profile-wrapper">
	<md-content class="md-padding card-wrapper" layout="column" layout-wrap layout-align="center center">

		<md-card layout="column" class="my-card md-whiteframe-5dp" >

			<md-card-title class="md-padding" flex layout="row" layout-align="start start">
				<md-card-title-text layout="column">
					<span class="md-display-2 display-name">{{gamService.me.displayName}}</span>
					<span class="md-display-1 display-name">Software Developer{{gamService.me.title}}</span>
				</md-card-title-text>

			</md-card-title>
			
			<md-content layout="row" >
				<div class="pic-container" flex="50" layout="column" layout-align="center center">
					<img ng-src="{{gamService.me.avatar}}" class="md-card-image" >
				</div>

				<div>
					<div class="contact-info-wrap">
						<div class="contact-info" ng-mouseLeave="editMode($index)"  ng-mouseEnter="editMode($index)" ng-repeat="(key, value) in gamService.me.mainList"> 
							<span class="material-icons info-icons ">{{::iconChooser(key)}}</span>
							<span ng-show="!editMode[$index]" >{{value}}</span>
							<input ng-show="editMode[$index]"type="text" ng-model="value">
							<span flex></span>
							<span  ng-show="editMode[$index]" class="material-icons info-edit">edit</span>
						</div>
					</div>
				</div>
			</md-content>


			<md-card-actions layout="row" layout-align="end center">
				<div class="contact-info" > 
					<a ng-href="{{gamService.me.profileUrl}}"><span  class="fa fa-github-square"></span> </a>
				</div>
				<span flex></span>
				<md-button>More Info</md-button>
			</md-card-actions>
		</md-card>

	</md-content >
</div>