<div layout="column" layout-gt-sm="row" layout-wrap >
  <md-card ng-repeat="user in octoService.cachedUsers" flex-xs="100" flex-md="40" flex-lg="30" flex-xl="20" class="cachedUsers" >
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{user.name}}</span>
        <span class="md-subhead">{{user.login}}</span>
        <span>{{user.blog}}</span>
        <span>{{user.email}}</span>
        <span>{{user.login}}</span>
        <span>{{user.company}}</span>
        <span>{{user.location}}</span>
        <span>{{user.updated_at|date}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <img ng-src="{{user.avatar_url}}" class="md-media-md card-media" alt="{{user.login}}"></img>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-href="#profile/{{user.login}}">Visit Profile</md-button>
      <md-button>Visit Repos</md-button>
    </md-card-actions>
  </md-card>
</div>