<md-toolbar class="md-theme-light" layout>
	<h1 class="md-toolbar-tools"> {{od.client.name|| "Please Login"}}</h1>
</md-toolbar>	

<md-content>

	<md-subheader class="md-accent avatar-subheader">
		Account
	</md-subheader>
	<md-content layout="column" layout-align="start center">
		<div layout ng-if="::od.client.isLoggedIn">
			<img class="sidenav-avatar" ng-src="{{::od.client.avatar_url}}" alt="image caption">
		</div>
		<h2> {{::od.client.name}} </h2>
		<h2 ng-if="!od.client.name"> "Please Login" </h2>
	</md-content>

	<md-list layout layout-wrap>
		<md-button flex="100" ng-href="#profile/{{od.client.login}}" >
			<div>
				<span ng-if="client.isLoggedIn">{{::client.login}} account</span>
				<span ng-if="!client.isLoggedIn">Account Page</span>
				<md-divider></md-divider>
			</div>
		</md-button>

		<md-button flex="100" ng-disabled="::true">
			Edit Account
			<md-divider></md-divider>
		</md-button>

		<md-button flex="100" ng-click="::logger()" ng-class="{'md-primary':!client.isLoggedIn,'md-raised': !client.isLoggedIn}">
			{{od.getSignInBtn()}}
			<md-divider></md-divider>
		</md-button>

		<md-button flex="100" ng-disabled="::true">
			Share Link
		</md-button>
	</md-list>

	
	<div>
		<md-subheader class="md-accent">{{list.subheader}}</md-subheader>		
		<md-list layout layout-wrap>
			<md-button flex="100" ng-href="#/">
				Home
			</md-button>
		
			<md-button flex="100" ng-disabled="::true">
				About Page
				<md-divider></md-divider>
			</md-button>
		
			<md-button flex="100" ng-href="https://github.com/lopezhansel/OctoDex" target="_blank">
				OctoDex Github Page
			</md-button >
		</md-list>
	</div>

	<md-subheader class="md-accent">Groups</md-subheader>		
	<md-list layout layout-wrap >
		<md-button flex="100" ng-disabled="::true"> 
			RefactoU Grads
			<md-divider></md-divider>
		</md-button>

		<md-button flex="100" ng-disabled="::true" >
			Denver Devs Slack
			<md-divider></md-divider>
		</md-button>

		<md-button flex="100" ng-disabled="::true">
			Tech Friends
			<md-divider></md-divider>
		</md-button>

		<md-button flex="100" ng-disabled="::true">
			Popular Repos
		</md-button>

	</md-list>
					
</md-content>