<md-toolbar class="md-theme-light" layout>
	<h1 class="md-toolbar-tools"> {{od.client.name|| "Please Login"}}</h1>
</md-toolbar>	

<md-content>

	<md-subheader class="md-accent avatar-subheader">
		Account
	</md-subheader>
	<md-content layout="column" layout-align="start center">
		<div layout ng-if="::od.client.isLoggedIn">
			<img class="sidenav-avatar" ng-src="{{::od.client.avatar_url}}" alt="image caption">
		</div>
		<h2> {{::od.client.name}} </h2>
		<h2 ng-if="!od.client.name"> "Please Login" </h2>
	</md-content>

	<md-list layout layout-wrap>
		<md-button ng-click="::toggleSidenav('right')" flex="100" ng-href="#profile/{{od.client.login}}" >
			<div>
				<span ng-if="od.client.isLoggedIn">{{::od.client.login}} Profile</span>
				<span ng-if="!od.client.isLoggedIn">User Profile</span>
				<md-divider></md-divider>
			</div>
		</md-button>

		<md-button ng-click="::toggleSidenav('right')" flex="100" ng-href="#account" ng-disabled="::false">
			Edit Account
			<md-divider></md-divider>
		</md-button>

		<md-button ng-click="::toggleSidenav('right');logger()" flex="100"  ng-class="{'md-primary':!od.client.isLoggedIn,'md-raised': !od.client.isLoggedIn}">
			{{od.getSignInBtn()}}
			<md-divider></md-divider>
		</md-button>
		
		<md-button ng-click="::toggleSidenav('right');od.client.getCard()" flex="100" ng-disabled="!od.client.isLoggedIn">
			Download Contact File
			<md-divider></md-divider>
		</md-button>
		
		<md-button ng-click="::toggleLink()" flex="100" ng-disabled="!od.client.isLoggedIn">
			Share Profile
		</md-button>
		<md-input-container class="md-block" flex ng-if="linkBool">
			<label>Link to Profile</label>
			<input value="{{link+od.client.login}}"  >
		</md-input-container>
	</md-list>

	
	<div>
		<md-subheader class="md-accent">Navigation</md-subheader>		
		<md-list layout layout-wrap>
			<md-button ng-click="::toggleSidenav('right')" flex="100" ng-href="#/">
				Home
				<md-divider></md-divider>
			</md-button>
		
			<md-button ng-click="::toggleSidenav('right')" flex="100" ng-href="#about">
				About OctoDex
				<md-divider></md-divider>
			</md-button>
		
			<md-button ng-click="::toggleSidenav('right')" flex="100" ng-href="https://github.com/lopezhansel/OctoDex" target="_blank">
				Octodex Github Page
			</md-button ng-click="::toggleSidenav('right')" >
		</md-list>
	</div>

	<md-subheader class="md-accent">Groups</md-subheader>		
	<md-list layout layout-wrap >
		<md-button ng-click="::toggleSidenav('right')" flex="100" ng-href="#groups/RefactorU" ng-disabled="false"> 
			RefactoU Grads
			<md-divider></md-divider>
		</md-button>

		<md-button ng-click="::toggleSidenav('right')" flex="100" ng-disabled="::true" >
			Denver Devs Slack
			<md-divider></md-divider>
		</md-button>

		<md-button ng-click="::toggleSidenav('right')" flex="100" ng-disabled="::true">
			Tech Friends
			<md-divider></md-divider>
		</md-button>
		<md-button ng-click="::toggleSidenav('right')" flex="100" ng-href="#groups/angular" >
			Angular.js Members
			<md-divider></md-divider>
		</md-button>
		<md-button ng-click="::toggleSidenav('right')" flex="100" ng-href="#groups/reactjs" >
			Reactjs Members
			<md-divider></md-divider>
		</md-button>
		<md-button ng-click="::toggleSidenav('right')" flex="100" ng-href="#groups/nodejs" >
			Node.js Members
		</md-button>
		<md-button ng-click="::toggleSidenav('right')" flex="100" ng-href="#groups/github" >
			Github Members
		</md-button>
		<md-button ng-click="::toggleSidenav('right')" flex="100" ng-href="#groups/Emberjs" >
			Ember.js Members
		</md-button>

	</md-list>
					
</md-content>