<md-content layout-padding>
    <md-card class="my-card">
    	<img  ng-src="{{user.avatar_url}}" alt="profile picture">
        <div ng-if="user.name">
            <h2>{{user.name}} | {{user.login}}</h2>
        </div>
        <div ng-if="user.email">
            <span class="material-icons">email</span>   
            {{user.email}}
        </div>
        <div ng-if="user.bio">
            <span class="material-icons">subject</span>
            {{user.bio}}
        </div>
        <div ng-if="user.company">
            <span class="material-icons">business</span>
            <span>{{user.company}}</span>
        </div>
        <div ng-if="user.blog">
            <span class="material-icons">link</span>
            <a ng-href="{{user.blog}}">{{user.blog}}</a>
        </div>
        <div ng-if="user.location">
            <span class="material-icons">place</span>
            {{user.location}}
        </div>
        
        <p> {{user.public_repos }} Repos | {{ user.followers.length }} Followers | {{ user.following }} Following</p>
    </md-card>
</md-content>


<md-content class="md-padding">
    <md-grid-list
           md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
           md-row-height-gt-md="1:1" md-row-height="2:2"
           md-gutter="12px" md-gutter-gt-sm="8px" >
       <md-grid-tile  ng-repeat="follow in user.followers" 
           md-rowspan="1" md-colspan="1" md-colspan-sm="1">
           <img class="tile" ng-src="{{follow.avatar_url}}" />
         <md-grid-tile-footer layout-align="center center">
           <h2><a ng-href="#profile/{{follow.login}}">{{ follow.login }}</a></h2>
         </md-grid-tile-footer>
       </md-grid-tile>
    </md-grid-list>
</md-content>
