<h1 id="octodex">OctoDex</h1>
<p>Github&#39;s Octocat + Rolodex = OctoDex</p>
<ul>
<li>Easily create and share a virtual business card using your Github information.</li>
</ul>
<h2 id="features">Features</h2>
<ul>
<li>Custom Directive &quot;inline&quot;. Component to easily edit and user information when selected without.</li>
<li>Shareable links to profiles.</li>
</ul>
<h2 id="front-end">Front-End</h2>
<ul>
<li>Angular </li>
<li>Angular Material. Many Material design Components built by Google</li>
<li>Angular Router. Front End Router</li>
<li>ng-Resource a better way way to communicate with Restful Apis.</li>
</ul>
<h2 id="back-end">Back-End</h2>
<ul>
<li>Node.js - Server</li>
<li>MongoDb - Database</li>
<li>Passport.js -  Authentication middleware for Node.js.</li>
<li>Github&#39;s Oauth2</li>
</ul>
<h2 id="todo-list">TODO List</h2>
<ul>
<li>[ ] Let user know if profile is an octodex user or not</li>
<li>[ ] Add Following tab to profile view</li>
<li>[ ] BUG: If POST timeout css color wont change</li>
<li>[ ] Fix: &quot;UPDATE PROFILE&quot; button showing up everywhere</li>
<li>[ ] Show random OctoDex Users at home page.</li>
<li>[x] Add LinkedIn Facebook and Twiter options</li>
<li>[x] add toggleSidenav when clicking on sidenav list item</li>
<li>[x] Perfect Mobile layout of profileView</li>
<li>[x] Fix: Update button in accountView</li>
<li>[x] Show users in different views</li>
<li>[x] Make Account Setting Page for editing more information.</li>
<li>[x] Break views into directive Components </li>
<li>[x] See if octoDex User first then check github.</li>
<li>[x] &quot;Sign In&quot; button doesn&#39;t update after logging in</li>
<li>[x] Remove Full Profile Button</li>
<li>[x] First Login Doesn&#39;t work</li>
<li>[X] Fix Social Profiles Icon.</li>
<li>[x] Show Octodex Users at home page</li>
<li>[x] BUG : service.updateClient(); is being called by getOtherUsers</li>
<li>[x] Making Server a bit more restful</li>
<li>[x] Fix Following Number in card 1-30</li>
<li>[x] comment more code</li>
<li>[x] Simplified Inline Directive</li>
<li>[x] UX: Changing color properties when Updating</li>
<li>[x] improve inlineDirective performance</li>
<li>[x] Renaming Variables and Improve Organization</li>
<li>[x] improve service.getFollowersAndRepos.</li>
<li>[x] Improve api calls retrieving Repos and Followers;</li>
<li>[x] learn to implement $q or $resource service from angular</li>
<li>[X] shareable link</li>
<li>[x] Inline directive not edit more when not in client profile</li>
<li>[X] Fix Api to request more info from github</li>
<li>[X] save user data into database</li>
<li>[X] Show &#39;Done&#39; icon in inline directive</li>
<li>[X] add a variable for $dirty </li>
<li>[x] Revamp inline directive. Fix edit I&#39;mode in directive. Edit mode toggle button.</li>
<li>[x] Enable &quot;Full Profile&quot; Button</li>
<li>[x] Fixed other github users not being able to log in</li>
</ul>
<h2 id="future-possibility">Future Possibility</h2>
<ul>
<li>[ ] Upload Image to Node server</li>
<li>[ ] Add Repo Project View</li>
<li>[ ] Add Organization/Group  View</li>
<li>[ ] Use Ng-file Upload</li>
<li>[x] Download vcf contact file</li>
<li>[ ] Convert ReadMe Markdown files to html</li>
<li>[ ] Highlight Syntax</li>
</ul>
